@page "/chat"

<PageTitle>Chat</PageTitle>

@if (loading)
{
    <h4>Loading...</h4>
}
else
{
    <div class="border-black border-2 rounded-xl p-2 overflow-auto gap-3 flex flex-col-reverse">
        @foreach (var message in messages)
        {
            <div class="border-2 rounded-xl border-black bg-transparent p-2 break-words">
                <div class="text-xs pb-1">
                    @message.author
                    @message.date
                </div>
                @message.text
            </div>
        }
    </div>
}


@code {
    private List<Message> messages = new List<Message>();

    private bool loading = true;
}