@page "/"

<PageTitle>Index</PageTitle>

<div id="main" class="grid w-full h-full gap-3">
    <div id="title" class="">
        <h1 class="text-4xl font-bold">Chat App</h1>
    </div>
    <div id="account" class="flex items-center">
        <input class="border-2 border-black bg-transparent focus:outline-none rounded-lg w-full py-2 px-3 "
            id="username" type="text" placeholder="Username">
    </div>
    <div id="users" class="flex gap-2 border-black border-2 rounded-xl p-1 overflow-auto">
        @foreach (var item in users)
        {
            <div class="border-2 rounded-xl border-black bg-transparent p-2">
                @item
            </div>
        }
    </div>
    <div id="spacing" class="bg-red-400">

    </div>

</div>

@code {
    private string[] users = { "uwu", "bernt", "fef", "uwu", "bernt", "fef", "uwu", "bernt", "fef", "grr", "uwu", "bernt",
"fef" };
}