@page "/"

<PageTitle>Index</PageTitle>

<div id="main" class="grid w-full h-full gap-3">
    <div id="title" class="bg-slate-600">
        <h1 class="text-4xl font-bold">Chat App</h1>
    </div>
    <div id="account" class="bg-green-500">
        Account
    </div>
    <div id="spacing" class="bg-gray-600">
        Spacing
    </div>
    <div id="other" class="bg-red-400">
        Spacing 2
    </div>
</div>

@code {

}