#navbar[b-7cxxmz0cwl] {
    padding: 0;
    width: auto;
    height: auto;
}

#navbar>ul[b-7cxxmz0cwl] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

@media (max-width: 750px) {
    #navbar>ul[b-7cxxmz0cwl] {
        flex-direction: row;
    }
}

@media (min-width: 750px) {
    #navbar>ul[b-7cxxmz0cwl] {
        flex-direction: column;
    }
}

#navbar>ul li[b-7cxxmz0cwl] {
    position: relative;
    display: flex;
}

#navbar>ul li.active[b-7cxxmz0cwl] {
    text-decoration: underline;
}

#navbar>ul span[b-7cxxmz0cwl] {
    width: 100%;
    margin: 0;
    background: rgb(73, 73, 73);
    height: 1px;
}

#navbar>ul li a[b-7cxxmz0cwl] {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    width: 100%;
}

#navbar>ul li a[b-7cxxmz0cwl]::after {
    content: '';
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;

    background: linear-gradient(to right, transparent 0%, #1a1a1a 30%);
}

#navbar>ul li a:hover[b-7cxxmz0cwl]::after {
    width: 100%;
    height: 100%;
}