#page {
    height: 100vh;
    width: 100vw;
    background: #1A1E23;
    color: white;
    font-family: 'Lato', sans-serif;
}

#sidebar {
    /* background-image: linear-gradient(0, #000000 0%, #292929 100%); */
    background: #202933;
    border: solid 2px rgb(73, 73, 73);
    /* vars not working */
}

#main {
    flex: 1;
    padding: 1rem;
    border: solid 2px rgb(73, 73, 73);
}

@media (max-width: 750px) {
    #page {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    #sidebar {
        width: 100vw;
        height: 3rem;
        position: sticky;
        bottom: 0;
    }
}

@media (min-width: 750px) {
    #page {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    #sidebar {
        width: 10rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}