/* _content/BlazorApp/Shared/MainLayout.razor.rz.scp.css */
#page[b-3dsd3z3yec] {
    height: 100vh;
    width: 100vw;
    background: #1A1E23;
    color: white;
    font-family: 'Lato', sans-serif;
}

#sidebar[b-3dsd3z3yec] {
    /* background-image: linear-gradient(0, #000000 0%, #292929 100%); */
    background: #202933;
    border: solid 2px rgb(73, 73, 73);
    /* vars not working */
}

#main[b-3dsd3z3yec] {
    flex: 1;
    padding: 1rem;
    border: solid 2px rgb(73, 73, 73);
}

@media (max-width: 750px) {
    #page[b-3dsd3z3yec] {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    #sidebar[b-3dsd3z3yec] {
        width: 100vw;
        height: 3rem;
        position: sticky;
        bottom: 0;
    }
}

@media (min-width: 750px) {
    #page[b-3dsd3z3yec] {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    #sidebar[b-3dsd3z3yec] {
        width: 10rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
/* _content/BlazorApp/Shared/NavMenu.razor.rz.scp.css */
#navbar[b-7cxxmz0cwl] {
    padding: 0;
    width: auto;
    height: auto;
}

#navbar>ul[b-7cxxmz0cwl] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

@media (max-width: 750px) {
    #navbar>ul[b-7cxxmz0cwl] {
        flex-direction: row;
    }
}

@media (min-width: 750px) {
    #navbar>ul[b-7cxxmz0cwl] {
        flex-direction: column;
    }
}

#navbar>ul li[b-7cxxmz0cwl] {
    position: relative;
    display: flex;
}

#navbar>ul li.active[b-7cxxmz0cwl] {
    text-decoration: underline;
}

#navbar>ul span[b-7cxxmz0cwl] {
    width: 100%;
    margin: 0;
    background: rgb(73, 73, 73);
    height: 1px;
}

#navbar>ul li a[b-7cxxmz0cwl] {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    width: 100%;
}

#navbar>ul li a[b-7cxxmz0cwl]::after {
    content: '';
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;

    background: linear-gradient(to right, transparent 0%, #1a1a1a 30%);
}

#navbar>ul li a:hover[b-7cxxmz0cwl]::after {
    width: 100%;
    height: 100%;
}
