@inherits LayoutComponentBase

<div id="page" class="w-screen h-screen bg-slate-800 text-white overflow-hidden">
    <div id="sidebar" class="border-2 border-solid  border-black border-r-0">
        <NavMenu />
    </div>

    <main id="main" class="w-full flex p-5 border-2 border-solid border-black">
        @Body
    </main>
</div>
