@media (max-width: 750px) {
    #page {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    #sidebar {
        width: 100vw;
        /* height: 4rem; */
        position: sticky;
        bottom: 0;
    }

    #main {
        height: calc(100% - 4rem);
    }
}

@media (min-width: 750px) {
    #page {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    #sidebar {
        width: 10rem;
        position: sticky;
        top: 0;
    }
}