<nav class="p-0 w-auto h-auto">
    <ul class="p-0 m-0 flex">
        <li class="relative flex font-bold text-inherit">
            <NavLink href="/" class="w-full h-full p-4" Match="NavLinkMatch.All">
                <div>Home</div>
            </NavLink>
        </li>
        <span class="divider" />
        <li class="relative flex font-bold text-inherit">
            <NavLink href="/chat" class="w-full h-full p-4">
                <span>Chat</span>
            </NavLink>
        </li>
        <span class="divider" />
    </ul>
</nav>
