@inject NavigationManager MyNavigationManager

<nav id="navbar">
    <ul>
        <li class="">
            <a href="">Home</a>
        </li>
        <span/>
        <li>
            <a href="Chat">Chat</a>
        </li>
        <span/>
    </ul>
    @* <p>@(MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri) == "Chat")</p> *@
</nav>

@code {
    
}
