@inject NavigationManager MyNavigationManager

<nav id="navbar">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <div class="link">Home</div>
            </NavLink>
        </li>
        <span />
        <li class="active">
            <NavLink href="/chat" class="">
                <span class="">Chat</span>
            </NavLink>
        </li>
        <span />
    </ul>
    @* <p>@(MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri) == "Chat")</p> *@
</nav>

@code {

}
